
				<section>
					<!--adds username input box-->
					<label for="text">City: </label><br>
					<input type="text" ng-model="city"/><br>
					<!--adds username input box-->
					<label for="text">State: </label><br>
					<input type="text" ng-model="state"/><br>
					<!--adds address-->
					<label for="text">Address: </label><br>
					<input type="text" ng-model="address"/><br>
					<!--adds state-->
					<label for="text">Date: </label><br>
					<input type="text" ng-model="date"/><br>
					<!--about Sale info box-->
					<label for="text">About this Sale: </label><br>
					<textarea type="text" ng-model="about"></textarea><br>
					<!--submit button-->
					<button id="addBtn" type="submit" ng-click="addName()"/> Post My Sale! </button>
				</section>